Repository Take-Car/boilerplate-hexagonal, changes with the labels that .github/labeler.yml gives for each.
All labels: Back, Front, Dependencies, Docker, TypeScript, Documentation, JavaScript, PHP, Test

chore: simple test of labeler
  docker-compose.yml
Labels: Docker

chore: update codegen configuration
  apps/frontend/codegen.yml
  apps/frontend/package.json
  apps/frontend/src/graphql/todoList.gql
  apps/frontend/tsconfig.json
  apps/frontend/yarn.lock
  tasks/front.yaml
Labels: Front, Dependencies

feature: updates code with new codegen conf
  apps/frontend/@types/graphql.d.ts
  apps/frontend/src/components/Main.tsx
  apps/frontend/src/components/TodoList.tsx
  apps/frontend/src/components/todoList.gql
  apps/frontend/src/components/todoList.hooks.ts
  apps/frontend/src/types/graphql.ts
Labels: Front, TypeScript

chore: remove useless label
  .github/workflows/labeler.yml
Labels: none

fix: duplicated network
  Taskfile.yaml
Labels: none

chore: add doctrine with MySQL basic configuration
  .env
  apps/api/bin/doctrine
  apps/api/bin/doctrine-dbal
  apps/api/bin/doctrine-migrations
  apps/api/bin/sql-formatter
  apps/api/composer.json
  apps/api/composer.lock
  apps/api/src/Infrastructure/Symfony/config/bundles.php
  apps/api/src/Infrastructure/Symfony/config/packages/doctrine.yaml
  apps/api/src/Infrastructure/Symfony/config/packages/doctrine_migrations.yaml
  apps/api/src/Migration/.gitignore
  apps/api/symfony.lock
Labels: Back, Dependencies, PHP

chore: upgrade twig
  apps/api/composer.lock
Labels: Back, Dependencies

chore: add PHP Spec
  apps/api/bin/phpspec
  apps/api/composer.json
  apps/api/composer.lock
Labels: Back, Dependencies

feat(test): add first specs
  apps/api/spec/Domain/Model/TodoListSpec.php
  apps/api/spec/Domain/Model/TodoSpec.php
Labels: Back, PHP, Test

fix(review): rename function
  apps/api/spec/Domain/Model/TodoSpec.php
  apps/api/src/Domain/Model/Todo.php
Labels: Back, PHP, Test

fix: dependabot target branch
  .github/dependabot.yml
Labels: none

chore: upgrades all composer dependencies
  apps/api/composer.lock
Labels: Back, Dependencies

chore: use Github runners for labeler
  .github/workflows/labeler.yml
Labels: none

chore: upgrade all dependencies
  apps/api/bin/patch-type-declarations
  apps/api/bin/php-cs-fixer
  apps/api/bin/var-dump-server
  apps/api/composer.json
  apps/api/composer.lock
  apps/api/config/packages/uid.yaml
  apps/api/symfony.lock
  apps/frontend/package.json
  apps/frontend/yarn.lock
  docker-compose.yml
  docker/node/Dockerfile
  docker/php/Dockerfile
Labels: Back, Front, Dependencies, Docker

fix: remove warning
  apps/frontend/src/components/TodoList.tsx
Labels: Front, TypeScript

chore: cleanup boilerplate
  apps/api/spec/Domain/Model/TodoListSpec.php
  apps/api/spec/Domain/Model/TodoSpec.php
  apps/api/src/Application/GraphQL/Resolver/TodoList.php
  apps/api/src/Application/GraphQL/Types/.gitignore
  apps/api/src/Application/GraphQL/Types/Todo.php
  apps/api/src/Application/GraphQL/Types/TodoList.php
  apps/api/src/Domain/.gitignore
  apps/api/src/Domain/Model/Todo.php
  apps/api/src/Domain/Model/TodoList.php
  apps/frontend/codegen.yml
  apps/frontend/src/components/App.tsx
  apps/frontend/src/components/Main.tsx
  apps/frontend/src/components/TodoList.tsx
  apps/frontend/src/components/todoList.gql
  apps/frontend/src/components/todoList.hooks.ts
  apps/frontend/src/graphql/.gitkeep
  apps/frontend/src/hooks/graphql.ts
  apps/frontend/src/types/graphql.ts
  apps/frontend/tsconfig.json
Labels: Back, Front, TypeScript, PHP, Test

Create LICENSE
  LICENSE
Labels: none

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: none

Create .github/workflows/codeql.yml
  .github/workflows/codeql.yml
Labels: none

Update dependabot.yml
  .github/dependabot.yml
Labels: none

.github/labeler.yml:

Back:
  - "apps/api/**/*"
Front:
  - "apps/frontend/**/*"
Dependencies:
  - "apps/frontend/package.json"
  - "apps/frontend/yarn.lock"
  - "tools/playwright/package.json"
  - "tools/playwright/yarn.lock"
  - "apps/api/composer.json"
  - "apps/api/composer.lock"
Docker:
  - "**/*/Dockerfile"
  - "docker-compose*.yml"
TypeScript:
  - "**/*.ts"
  - "**/*.tsx"
Documentation:
  - "README.md"
  - "doc/**/*"
JavaScript:
  - "**/*.js"
PHP:
  - "**/*.php"
Test:
  - "**/*.spec.*"
  - "**/*Spec.*"
  - "**/*.test.*"
