Repository Take-Car/boilerplate-hexagonal, changes with the labels that .github/labeler.yml gives for each.
All labels: Dependencies, Docker, Documentation, PHP, Test

fix: phpstan and cs fixer issues
  apps/api/phpstan.dist.neon
  apps/api/src/Application/Controller/MovieController.php
  apps/api/src/Domain/Command/Movie/Delete/Handler.php
  apps/api/src/Domain/Query/Movie/All/Handler.php
  apps/api/src/Domain/Query/Movie/All/Input.php
  apps/api/src/Infrastructure/Doctrine/Collection/Movies.php
  apps/api/src/Infrastructure/Doctrine/Repository/AbstractRepository.php
  apps/api/tests/specs/Domain/Command/Movie/Create/HandlerSpec.php
  apps/api/tests/specs/Domain/Command/Movie/Delete/HandlerSpec.php
  apps/api/tests/specs/Domain/Query/Movie/All/HandlerSpec.php
  apps/api/tools/TypeResolver/QueryOutputTypeResolver.php
Labels: PHP, Test

chore: setup github pages for coverages
  .github/workflows/api.yaml
  apps/api/coverage/.gitignore
  apps/api/phpspec.yml
  apps/api/tests/specs/.gitignore
Labels: Test

fix: run by default phpspec
  docker-compose.tools.yml
Labels: Docker

fix(wip): api github action workflow
  .github/workflows/api.yaml
Labels: none

fix: api github action workflow
  .github/workflows/api.yaml
Labels: none

chore: only generate coverage for domain
  apps/api/phpspec.yml
Labels: none

doc: add code coverage part
  README.md
Labels: Documentation

feat(test): add movie specs
  apps/api/tests/specs/Domain/Model/MovieSpec.php
Labels: PHP, Test

chore: add github action to dependabot
  .github/dependabot.yml
Labels: none

chore: remove useless comment
  .github/workflows/api.yaml
Labels: none

Update README.md
  README.md
Labels: Documentation

doc: add step to remove all file that belong to the boilerplate
  README.md
  apps/api/src/Application/Controller/MovieController.php
  apps/api/src/Domain/Collection/Movies.php
  apps/api/src/Domain/Command/Movie/Create/Handler.php
  apps/api/src/Domain/Command/Movie/Create/Input.php
  apps/api/src/Domain/Command/Movie/Delete/Handler.php
  apps/api/src/Domain/Command/Movie/Delete/Input.php
  apps/api/src/Domain/Model/Movie.php
  apps/api/src/Domain/Query/Movie/All/Handler.php
  apps/api/src/Domain/Query/Movie/All/Input.php
  apps/api/src/Domain/Query/Movie/All/Output.php
  apps/api/src/Infrastructure/Doctrine/Collection/Movies.php
  apps/api/src/Infrastructure/Doctrine/ORM/Model/Movie.orm.xml
  apps/api/src/Infrastructure/Doctrine/Repository/MovieRepository.php
  apps/api/src/Migrations/Version20240210170841.php
Labels: Documentation, PHP

refactor(cqrs): movie controller show implementation
  apps/api/src/Application/Controller/MovieController.php
  apps/api/src/Domain/Query/Movie/All/Input.php
  apps/api/src/Domain/Query/Movie/Show/Handler.php
  apps/api/src/Domain/Query/Movie/Show/Input.php
  apps/api/src/Domain/Query/Movie/Show/Output.php
Labels: PHP

fix(cs-fixer): fixed all files
  apps/api/src/Application/Controller/MovieController.php
  apps/api/src/Domain/Collection/Movies.php
  apps/api/src/Domain/Command/Movie/Create/Handler.php
  apps/api/src/Domain/Command/Movie/Create/Input.php
  apps/api/src/Domain/Command/Movie/Delete/Handler.php
  apps/api/src/Domain/Command/Movie/Delete/Input.php
  apps/api/src/Domain/Model/Movie.php
  apps/api/src/Domain/Query/Movie/All/Handler.php
  apps/api/src/Domain/Query/Movie/All/Input.php
  apps/api/src/Domain/Query/Movie/All/Output.php
  apps/api/src/Infrastructure/Doctrine/Collection/Movies.php
  apps/api/src/Migrations/Version20240210170841.php
Labels: PHP

.github/labeler.yml:

Dependencies:
  - 'apps/api/composer.json'
  - 'apps/api/composer.lock'
Docker:
  - '**/*/Dockerfile'
  - 'docker-compose*.yml'
Documentation:
  - 'README.md'
  - 'doc/**/*'
PHP:
  - '**/*.php'
Test:
  - 'apps/api/tests/**/*'
