Repository Take-Car/boilerplate-hexagonal, changes with the labels that .github/labeler.yml gives for each.
All labels: Dependencies, Docker, Documentation, PHP, Test

.github/labeler.yml:

Dependencies:
  - 'apps/api/composer.json'
  - 'apps/api/composer.lock'
Docker:
  - '**/*/Dockerfile'
  - 'docker-compose*.yml'
Documentation:
  - 'README.md'
  - 'doc/**/*'
PHP:
  - '**/*.php'
Test:
  - 'apps/api/tests/**/*'

chore: rename features tests directory to e2e
  apps/api/tests/e2e/.gitkeep
Labels: Test

chore: update README.md with additional commands and URLs
  README.md
Labels: Documentation

chore: update vscode config
  settings.code-workspace
Labels: none

chore: rollback docker-compose includes
  Taskfile.yaml
  docker-compose.stack.yml
  docker-compose.yml
Labels: Docker

Refactor messenger configuration and implement BusInterface
  apps/api/config/packages/messenger.yaml
  apps/api/config/services/messenger.yaml
  apps/api/src/Domain/BusInterface.php
  apps/api/src/Domain/Command/CommandInterface.php
  apps/api/src/Domain/Event/EventInterface.php
  apps/api/src/Domain/Query/QueryInterface.php
  apps/api/src/Domain/Queue/BusInterface.php
  apps/api/src/Infrastructure/Messenger/Bus.php
Labels: PHP

chore: run php cs fixer
  apps/api/src/Domain/BusInterface.php
Labels: PHP

feature: setup github action for the api
  .github/workflows/api.yaml
  Taskfile.yaml
Labels: none

feature: add rector to php code quality workflow
  .github/dependabot.yml
  .github/workflows/api.yaml
  docker-compose.tools.yml
  tools/rector/Dockerfile
  tools/rector/composer.json
  tools/rector/composer.lock
  tools/rector/rector.php
Labels: Docker, PHP

fix: apply rector changes
  apps/api/src/Infrastructure/Messenger/Bus.php
  apps/api/src/Infrastructure/Symfony/Kernel.php
Labels: PHP

fix: update dependabot.yml schedule time to '06:00'
  .github/dependabot.yml
Labels: none

chore: cancel in progress jobs
  .github/workflows/api.yaml
Labels: none

fix: speed-up quality jobs
  .github/workflows/api.yaml
  Taskfile.yaml
Labels: none

chore: upgrade checkout action to the latest
  .github/workflows/api.yaml
Labels: none

fix: missing vendor on CI
  .github/workflows/api.yaml
  apps/api/deptrac.yaml
Labels: none

chore: speedup php tool build
  docker-compose.tools.yml
  tools/Dockerfile
  tools/cs-fixer/Dockerfile
  tools/deptrac/Dockerfile
  tools/phpstan/Dockerfile
  tools/rector/Dockerfile
Labels: Docker

chore: use composer from tool image
  .github/workflows/api.yaml
  tools/Dockerfile
Labels: Docker

doc: add php code quality badge to readme
  README.md
Labels: Documentation

doc: update README.md
  README.md
Labels: Documentation

chore: remove GraphQL related files and dependencies
  README.md
  apps/api/composer.json
  apps/api/composer.lock
  apps/api/config/bundles.php
  apps/api/config/packages/graphql.yaml
  apps/api/config/routes/graphql.yaml
  apps/api/config/services/graphql.yaml
  apps/api/deptrac.yaml
  apps/api/src/Application/.gitkeep
  apps/api/src/Application/GraphQL/Mutation/.gitkeep
  apps/api/src/Application/GraphQL/Query/.gitkeep
  apps/api/src/Application/GraphQL/Resolver/.gitkeep
  apps/api/src/Application/GraphQL/Type/.gitkeep
  apps/api/symfony.lock
Labels: Dependencies, Documentation, PHP

chore: update depentabots configuration
  .github/dependabot.yml
Labels: none

Update README.md
  README.md
Labels: Documentation

fix: symfony kernel loaders
  apps/api/src/Infrastructure/Symfony/Kernel.php
Labels: PHP

chore: migrations should not be autoloaded
  apps/api/config/packages/doctrine_migrations.yaml
  apps/api/src/Migrations/.gitkeep
Labels: none

fix: symfony environment variable resolving
  apps/api/config/packages/doctrine.yaml
  docker-compose.tools.yml
Labels: Docker

feat(refacto): messenger bus
  apps/api/config/packages/messenger.yaml
  apps/api/config/routes/attributes.yaml
  apps/api/config/services/messenger.yaml
  apps/api/src/Application/Controller/Test.php
  apps/api/src/Application/Messenger/BusInterface.php
  apps/api/src/Application/Messenger/WorkflowInterface.php
  apps/api/src/Infrastructure/Messenger/Bus.php
  apps/api/src/Infrastructure/Messenger/Workflow.php
Labels: PHP

fix: run rector and CS Fixer
  apps/api/src/Application/Messenger/WorkflowInterface.php
  apps/api/src/Infrastructure/Messenger/Workflow.php
Labels: PHP

chore: simplify deptrac rules
  apps/api/deptrac.yaml
Labels: none

chore: rename workflow method
  apps/api/src/Application/Messenger/WorkflowInterface.php
  apps/api/src/Infrastructure/Messenger/Workflow.php
Labels: PHP

chore: migrate almost all yaml config to php files
  apps/api/config/packages/cache.yaml
  apps/api/config/packages/doctrine.php
  apps/api/config/packages/doctrine.yaml
  apps/api/config/packages/doctrine_migrations.php
  apps/api/config/packages/doctrine_migrations.yaml
  apps/api/config/packages/framework.php
  apps/api/config/packages/framework.yaml
  apps/api/config/packages/messenger.php
  apps/api/config/packages/messenger.yaml
  apps/api/config/packages/routing.php
  apps/api/config/packages/routing.yaml
  apps/api/config/packages/twig.php
  apps/api/config/packages/twig.yaml
  apps/api/config/packages/uid.php
  apps/api/config/packages/uid.yaml
  apps/api/config/packages/web_profiler.php
  apps/api/config/packages/web_profiler.yaml
  apps/api/config/routes.yaml
  apps/api/config/routes/attributes.yaml
  apps/api/config/routes/framework.yaml
  apps/api/config/routes/web_profiler.yaml
  apps/api/config/services/controller.php
  apps/api/config/services/doctrine.php
  apps/api/config/services/messenger.php
  apps/api/config/services/messenger.yaml
Labels: PHP

feature: add movie crud
  apps/api/config/packages/web_profiler.php
  apps/api/src/Application/.gitkeep
  apps/api/src/Application/Controller/MovieController.php
  apps/api/src/Application/Controller/Test.php
  apps/api/src/Domain/Collection/Movies.php
  apps/api/src/Domain/Exception/EntityNotFoundException.php
  apps/api/src/Domain/Model/.gitkeep
  apps/api/src/Domain/Model/Movie.php
  apps/api/src/Infrastructure/Doctrine/Collection/Movies.php
  apps/api/src/Infrastructure/Doctrine/ORM/Model/.gitkeep
  apps/api/src/Infrastructure/Doctrine/ORM/Model/Movie.orm.xml
  apps/api/src/Infrastructure/Doctrine/Repository/AbstractRepository.php
  apps/api/src/Infrastructure/Doctrine/Repository/MovieRepository.php
  apps/api/src/Infrastructure/Symfony/Kernel.php
  apps/api/src/Migrations/.gitkeep
  apps/api/src/Migrations/Version20240210170841.php
Labels: PHP

chore: make dependabot check daily
  .github/dependabot.yml
Labels: none

chore(refacto): use command and query for movie API CRUD
  apps/api/config/services/controller.php
  apps/api/config/services/messenger.php
  apps/api/src/Application/BusInterface.php
  apps/api/src/Application/Controller/MovieController.php
  apps/api/src/Domain/Collection/Movies.php
  apps/api/src/Domain/Command/Movie/Create/Handler.php
  apps/api/src/Domain/Command/Movie/Create/Input.php
  apps/api/src/Domain/Command/Movie/Delete/Handler.php
  apps/api/src/Domain/Command/Movie/Delete/Input.php
  apps/api/src/Domain/Model/Movie.php
  apps/api/src/Domain/Query/Movie/All/Handler.php
  apps/api/src/Domain/Query/Movie/All/Input.php
  apps/api/src/Domain/Query/Movie/All/Output.php
  apps/api/src/Infrastructure/Doctrine/Collection/Movies.php
  apps/api/src/Infrastructure/Doctrine/Repository/AbstractRepository.php
  apps/api/src/Infrastructure/Messenger/Bus.php
Labels: PHP

chore: remove workflow as CRQS would be enough
  apps/api/src/Application/Messenger/WorkflowInterface.php
  apps/api/src/Infrastructure/Messenger/Workflow.php
Labels: PHP

fix: phpstan type hinting
  apps/api/composer.json
  apps/api/phpstan.dist.neon
  apps/api/src/Application/Controller/MovieController.php
  apps/api/src/Domain/Query/Movie/All/Output.php
  apps/api/src/Infrastructure/Doctrine/Collection/Movies.php
  apps/api/tools/TypeResolver/QueryOutputTypeResolver.php
Labels: Dependencies, PHP

chore: install phpspec + coverage with XDebug
  Taskfile.yaml
  apps/api/phpspec.yml
  apps/api/tests/specs/.gitkeep
  tools/Dockerfile
  tools/phpspec/composer.json
  tools/phpspec/composer.lock
Labels: Docker, Test

chore: install XDebug
  apps/api/Dockerfile
Labels: Docker

feature: add unit tests on domain classes
  apps/api/composer.json
  apps/api/src/Domain/Model/Movie.php
  apps/api/tests/specs/.gitignore
  apps/api/tests/specs/Domain/Command/Movie/Create/HandlerSpec.php
  apps/api/tests/specs/Domain/Command/Movie/Delete/HandlerSpec.php
  apps/api/tests/specs/Domain/Query/Movie/All/HandlerSpec.php
Labels: Dependencies, PHP, Test

feature: add php spec to code quality matrix
  .github/workflows/api.yaml
Labels: none

chore: add phpspec service to tools compose stack
  docker-compose.tools.yml
Labels: Docker

fix: add permission to default user in code directory
  tools/Dockerfile
Labels: Docker
