Repository Take-Car/boilerplate-hexagonal, changes with the labels that .github/labeler.yml gives for each.
All labels: Dependencies, Docker, Documentation, PHP, Test

.github/labeler.yml:

Dependencies:
- changed-files:
  - any-glob-to-any-file:
    - 'apps/api/composer.json'
    - 'apps/api/composer.lock'
Docker:
- changed-files:
  - any-glob-to-any-file:
    - '**/*/Dockerfile'
    - 'docker-compose*.yml'
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - 'README.md'
    - 'doc/**/*'
PHP:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.php'
Test:
- changed-files:
  - any-glob-to-any-file:
    - 'apps/api/tests/**/*'

feature: bootstrap next js frontend
  .github/workflows/web.yaml
  Taskfile.yaml
  apps/web/.env.dist
  apps/web/.eslintrc.json
  apps/web/.gitignore
  apps/web/.yarnrc.yml
  apps/web/Dockerfile
  apps/web/README.md
  apps/web/next.config.mjs
  apps/web/package.json
  apps/web/postcss.config.js
  apps/web/public/next.svg
  apps/web/public/vercel.svg
  apps/web/src/app/favicon.ico
  apps/web/src/app/globals.css
  apps/web/src/app/layout.tsx
  apps/web/src/app/page.tsx
  apps/web/tailwind.config.ts
  apps/web/tsconfig.json
  apps/web/yarn.lock
  docker-compose.tools.yml
  docker-compose.yml
  settings.code-workspace
Labels: Docker

Revert "chore: migrate almost all yaml config to php files"
  apps/api/config/packages/cache.yaml
  apps/api/config/packages/doctrine.php
  apps/api/config/packages/doctrine.yaml
  apps/api/config/packages/doctrine_migrations.php
  apps/api/config/packages/doctrine_migrations.yaml
  apps/api/config/packages/framework.php
  apps/api/config/packages/framework.yaml
  apps/api/config/packages/messenger.php
  apps/api/config/packages/messenger.yaml
  apps/api/config/packages/routing.php
  apps/api/config/packages/routing.yaml
  apps/api/config/packages/twig.php
  apps/api/config/packages/twig.yaml
  apps/api/config/packages/uid.php
  apps/api/config/packages/uid.yaml
  apps/api/config/packages/web_profiler.php
  apps/api/config/packages/web_profiler.yaml
  apps/api/config/routes.yaml
  apps/api/config/routes/attributes.yaml
  apps/api/config/routes/framework.yaml
  apps/api/config/routes/web_profiler.yaml
  apps/api/config/services/collection.yaml
  apps/api/config/services/controller.php
  apps/api/config/services/controller.yaml
  apps/api/config/services/doctrine.php
  apps/api/config/services/messenger.php
  apps/api/config/services/messenger.yaml
  apps/api/src/Infrastructure/Symfony/Kernel.php
Labels: PHP

feature: revamp exception handling
  apps/api/.env
  apps/api/config/routes/attributes.yaml
  apps/api/src/Application/Controller/MovieController.php
  apps/api/src/Domain/Collection/Exception/EntityNotFoundException.php
  apps/api/src/Domain/Collection/Movies.php
  apps/api/src/Domain/Model/Movie.php
  apps/api/src/Infrastructure/Doctrine/Collection/Movies.php
  docker-compose.yml
Labels: Docker, PHP

feat(test): migration to Pest php
  .github/workflows/api.yaml
  README.md
  Taskfile.yaml
  apps/api/.gitignore
  apps/api/Dockerfile
  apps/api/composer.json
  apps/api/composer.lock
  apps/api/config/bundles.php
  apps/api/coverage/.gitignore
  apps/api/php/conf.d-dev/xdebug.ini
  apps/api/php/conf.d-test/opcache.ini
  apps/api/php/conf.d-test/xdebug.ini
  apps/api/php/php-test.ini
  apps/api/php/php.ini
  apps/api/phpunit.xml
  apps/api/src/Application/Controller/MovieController.php
  apps/api/src/Infrastructure/Doctrine/Collection/Movies.php
  apps/api/symfony.lock
  apps/api/tests/FeatureTestCase.php
  apps/api/tests/Features/Application/Controller/MovieFeature.php
  apps/api/tests/Helper/AbstractHelper.php
  apps/api/tests/Helper/Http.php
  apps/api/tests/Pest.php
  apps/api/tests/SpecTestCase.php
  apps/api/tests/Specs/Domain/Command/Movie/CreateSpec.php
  apps/api/tests/Specs/Domain/Command/Movie/DeleteSpec.php
  apps/api/tests/Specs/Domain/Query/Movie/All/HandlerSpec.php
  apps/api/tests/Specs/Domain/Query/Movie/Show/HandlerSpec.php
  apps/api/tests/bootstrap.php
  apps/api/tests/e2e/.gitkeep
  apps/api/tests/integrations/.gitkeep
  apps/api/tests/specs/Domain/Command/Movie/Create/HandlerSpec.php
  apps/api/tests/specs/Domain/Command/Movie/Delete/HandlerSpec.php
  apps/api/tests/specs/Domain/Model/MovieSpec.php
  apps/api/tests/specs/Domain/Query/Movie/All/HandlerSpec.php
  docker-compose.test.yml
  docker-compose.tools.yml
  tools/phpspec/composer.json
  tools/phpspec/composer.lock
Labels: Dependencies, Docker, Documentation, PHP, Test

chore: remove coverage static site + set min limit
  .github/workflows/api.yaml
  README.md
  Taskfile.yaml
  apps/api/bin/.gitignore
  apps/api/composer.json
  apps/api/composer.lock
  apps/api/php/conf.d-dev/xdebug.ini
  apps/api/php/conf.d-test/xdebug.ini
  apps/api/php/php-test.ini
  apps/api/php/php.ini
Labels: Dependencies, Documentation

chore: remove doctrine deprecation
  apps/api/config/packages/doctrine.yaml
Labels: none

chore: add random execution order for all kind of tests
  apps/api/phpunit.xml
Labels: none

chore: cleanup stack
  Taskfile.yaml
  docker-compose.tools.yml
  services/traefik/traefik.yaml
Labels: Docker

chore: autonomous pest tak
  .github/workflows/api.yaml
  Taskfile.yaml
  docker-compose.tools.yml
Labels: Docker

chore: autonomous pest tak
  .github/workflows/api.yaml
  Taskfile.yaml
  docker-compose.tools.yml
Labels: Docker

chore(web): remove coverage upload
  .github/workflows/web.yaml
Labels: none

chore(web): remove coverage upload
  .github/workflows/web.yaml
Labels: none

chore: remove developer specific files
  .gitignore
  settings.code-workspace
Labels: none

chore: remove developer specific files
  .gitignore
  settings.code-workspace
Labels: none

chore(ci): add trigger on workflow spec
  .github/workflows/web.yaml
Labels: none

chore(ci): add trigger on workflow spec
  .github/workflows/web.yaml
Labels: none

refacto: use static php mapping
  Taskfile.yaml
  apps/api/config/packages/doctrine.yaml
  apps/api/config/parameters.yaml
  apps/api/phpstan.dist.neon
  apps/api/phpunit.xml
  apps/api/src/Domain/Collection/Movies.php
  apps/api/src/Domain/Command/Movie/Create/Handler.php
  apps/api/src/Domain/Model/Movie.php
  apps/api/src/Domain/Query/Movie/All/Output.php
  apps/api/src/Infrastructure/Doctrine/Collection/Movies.php
  apps/api/src/Infrastructure/Doctrine/Entity/Movie.php
  apps/api/src/Infrastructure/Doctrine/ORM/Model/Movie.orm.xml
  apps/api/src/Infrastructure/Doctrine/Repository/MovieRepository.php
  apps/api/src/Infrastructure/Symfony/Kernel.php
  apps/api/tests/FeatureTestCase.php
  apps/api/tests/Features/Application/Controller/MovieFeature.php
  apps/api/tests/Helper/AbstractHelper.php
  apps/api/tests/Helper/Http.php
  apps/api/tests/Pest.php
  apps/api/tests/Specs/Domain/Command/Movie/CreateSpec.php
  apps/api/tests/bootstrap.php
  apps/api/tests/object-manager.php
  docker-compose.tools.yml
  tools/Dockerfile
  tools/phpstan/composer.json
  tools/phpstan/composer.lock
Labels: Docker, PHP, Test

refacto: use static php mapping
  Taskfile.yaml
  apps/api/config/packages/doctrine.yaml
  apps/api/config/parameters.yaml
  apps/api/phpstan.dist.neon
  apps/api/phpunit.xml
  apps/api/src/Domain/Collection/Movies.php
  apps/api/src/Domain/Command/Movie/Create/Handler.php
  apps/api/src/Domain/Model/Movie.php
  apps/api/src/Domain/Query/Movie/All/Output.php
  apps/api/src/Infrastructure/Doctrine/Collection/Movies.php
  apps/api/src/Infrastructure/Doctrine/Entity/Movie.php
  apps/api/src/Infrastructure/Doctrine/ORM/Model/Movie.orm.xml
  apps/api/src/Infrastructure/Doctrine/Repository/MovieRepository.php
  apps/api/src/Infrastructure/Symfony/Kernel.php
  apps/api/tests/FeatureTestCase.php
  apps/api/tests/Features/Application/Controller/MovieFeature.php
  apps/api/tests/Helper/AbstractHelper.php
  apps/api/tests/Helper/Http.php
  apps/api/tests/Pest.php
  apps/api/tests/Specs/Domain/Command/Movie/CreateSpec.php
  apps/api/tests/bootstrap.php
  apps/api/tests/object-manager.php
  docker-compose.tools.yml
  tools/Dockerfile
  tools/phpstan/composer.json
  tools/phpstan/composer.lock
Labels: Docker, PHP, Test

refacto: revamp dependencies injection
  Taskfile.yaml
  apps/api/config/packages/messenger.yaml
  apps/api/config/services.yaml
  apps/api/config/services/collection.yaml
  apps/api/config/services/controller.yaml
  apps/api/config/services/messenger.yaml
  apps/api/src/Application/BusInterface.php
  apps/api/src/Application/Controller/MovieController.php
  apps/api/src/Domain/Message/Command/CommandInterface.php
  apps/api/src/Domain/Message/Command/Movie/Create/Handler.php
  apps/api/src/Domain/Message/Command/Movie/Create/Input.php
  apps/api/src/Domain/Message/Command/Movie/Delete/Handler.php
  apps/api/src/Domain/Message/Command/Movie/Delete/Input.php
  apps/api/src/Domain/Message/Event/EventInterface.php
  apps/api/src/Domain/Message/Query/Movie/All/Handler.php
  apps/api/src/Domain/Message/Query/Movie/All/Input.php
  apps/api/src/Domain/Message/Query/Movie/All/Output.php
  apps/api/src/Domain/Message/Query/Movie/Show/Handler.php
  apps/api/src/Domain/Message/Query/Movie/Show/Input.php
  apps/api/src/Domain/Message/Query/Movie/Show/Output.php
  apps/api/src/Domain/Message/Query/QueryInterface.php
  apps/api/src/Domain/Query/Movie/All/Handler.php
  apps/api/src/Infrastructure/Doctrine/Entity/Movie.php
  apps/api/src/Infrastructure/Symfony/Kernel.php
  apps/api/src/Infrastructure/Symfony/Messenger/Bus.php
  apps/api/tests/Specs/Domain/Command/Movie/CreateSpec.php
  apps/api/tests/Specs/Domain/Command/Movie/DeleteSpec.php
  apps/api/tests/Specs/Domain/Query/Movie/All/HandlerSpec.php
  apps/api/tests/Specs/Domain/Query/Movie/Show/HandlerSpec.php
Labels: PHP, Test

refacto: revamp dependencies injection
  Taskfile.yaml
  apps/api/config/packages/messenger.yaml
  apps/api/config/services.yaml
  apps/api/config/services/collection.yaml
  apps/api/config/services/controller.yaml
  apps/api/config/services/messenger.yaml
  apps/api/src/Application/BusInterface.php
  apps/api/src/Application/Controller/MovieController.php
  apps/api/src/Domain/Message/Command/CommandInterface.php
  apps/api/src/Domain/Message/Command/Movie/Create/Handler.php
  apps/api/src/Domain/Message/Command/Movie/Create/Input.php
  apps/api/src/Domain/Message/Command/Movie/Delete/Handler.php
  apps/api/src/Domain/Message/Command/Movie/Delete/Input.php
  apps/api/src/Domain/Message/Event/EventInterface.php
  apps/api/src/Domain/Message/Query/Movie/All/Handler.php
  apps/api/src/Domain/Message/Query/Movie/All/Input.php
  apps/api/src/Domain/Message/Query/Movie/All/Output.php
  apps/api/src/Domain/Message/Query/Movie/Show/Handler.php
  apps/api/src/Domain/Message/Query/Movie/Show/Input.php
  apps/api/src/Domain/Message/Query/Movie/Show/Output.php
  apps/api/src/Domain/Message/Query/QueryInterface.php
  apps/api/src/Domain/Query/Movie/All/Handler.php
  apps/api/src/Infrastructure/Doctrine/Entity/Movie.php
  apps/api/src/Infrastructure/Symfony/Kernel.php
  apps/api/src/Infrastructure/Symfony/Messenger/Bus.php
  apps/api/tests/Specs/Domain/Command/Movie/CreateSpec.php
  apps/api/tests/Specs/Domain/Command/Movie/DeleteSpec.php
  apps/api/tests/Specs/Domain/Query/Movie/All/HandlerSpec.php
  apps/api/tests/Specs/Domain/Query/Movie/Show/HandlerSpec.php
Labels: PHP, Test
